<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div class="field">
    <%= form.label :url %>
    <%= form.url_field :url %>
  </div>
  <div class="field">
    <%= form.label :contributor %>
    <%= form.text_field :contributor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
