<h1><%= t(".title") %></h1>

<table>
  <thead>
    <tr>
      <td></td>
      <th><%= Post.human_attribute_name(:title) %></th>
      <th><%= Post.human_attribute_name(:body) %></th>
      <th><%= Post.human_attribute_name(:url) %></th>
      <th><%= Post.human_attribute_name(:contributor) %></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each.with_index(1) do |post, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.url %></td>
        <td><%= post.contributor %></td>
        <td><%= link_to t("defaults.show"), post %></td>
        <td><%= link_to t("defaults.edit"), edit_post_path(post) %></td>
        <td><%= link_to t("defaults.destroy"), post, method: :delete, data: { confirm: t("defaults.message.delete_confirm") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("defaults.create"), new_post_path %>
